@font-face {
    font-family: Roboto;
    src: url(../../_fonts/roboto-v29-latin-ext_latin-regular.woff);
}

html, body{
	background: url(../img/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	font-family: Roboto,"Helvetica Neue",Arial,sans-serif !important;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100% !important; /* important to vertically align the container */
	margin:0 auto;
    padding:0;
	font-size: 14px;
}

.frameStyle {
    padding: 20px;
    margin: 20px; 
}

@page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
}

#results .pageBreak p, #results .pageBreak ul, #results table, #results .row{
	font-size: 13px;
} 
#results h1 {
	font-size: 24px ;
	font-weight: bold;
	padding-bottom: 4mm;
}
#results h2 {
	font-size: 20px;
	font-weight: bold;

}
#results h3 {
	font-size: 16px;
	font-weight: bold;
	padding-top: 3mm;
} 

#results table, th{
    text-align: left;
    padding-left: 30px;
    font-weight: normal !important;
    vertical-align: top;
}
 
p {
    margin-top: 0;
    margin-bottom: 0.5em;
}


@media print {
	#pagy2 { border: none !important; } 
	@page 
	{
		border: none !important;
		size: auto;   /* auto is the initial value */
		margin-left: 12mm;  /* this affects the margin in the printer settings */
		margin-right: 12mm;  /* this affects the margin in the printer settings */
		margin-top: 25mm;  /* this affects the margin in the printer settings */
		margin-bottom: 22mm;  /* this affects the margin in the printer settings */
	}
	
	html, body{ 
		font-size: 13pt !important;
	}
	#results .pageBreak p, #results .pageBreak ul, #results table, #results .row{
		font-size: 13pt !important;
	} 
	ul {
		list-style-type: square !important;
	}
	#firstItem{
		margin-top: -30mm;  /* this affects the margin in the printer settings */
	}
	.pageBreak{
		age-break-inside: avoid;
	}  
	h1 {
		font-size: 20pt !important;
		font-weight: bold;
		padding-bottom: 8mm;
	}
	h2 {
		font-size: 18pt !important;
		font-weight: bold;

	}
	h3 {
		font-size: 16pt !important;
		font-weight: bold;
		padding-top: 3mm;
	}
	p {
		font-size: 13pt !important;
		margin-top: 0;
		margin-bottom: 0.5em;
	}
	.frameStyle {
		padding: 20px;
		margin: 20px;
		border: none;
	}
	table{
		font-size: 16px;
	}
	.itemRow {
		visibility: hidden;
	}
}

#results{ 
	
}

#printBody{
    font-family: Roboto, "Helvetica Neue", rial,sans-serif !important;
}


ul.checks {
	list-style: none;
	margin-left: 1em;
	padding-left: 0;
}

ul.checks  li {
	padding-left: 1em;
	text-indent: -1em;
	padding-bottom: 9px;
}

ul.checks li:before { 
    padding-right: 5px;
}

ul {
	list-style: none !important;
	padding: 0px;
}

ul li:before {
    content: '\2022';
    margin: 0 0.5em;    /* any design */
}

.transparent{
	background: transparent; 
}

.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one <img draggable="false" class="emoji" alt="🙂" src="https://s.w.org/images/core/emoji/72x72/1f642.png">       */
	display: flex;
	align-items: center;
}

hr {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #21addf -moz-use-text-color #21addf;
	border-style: #21addf solid none;
	border-width: 1px 0;
	margin: 5px 0;
}

div.stimuliContainer {
	background-color: red;
	width: 50%;
	max-width: 90px;
	padding-top: 0%; /* 1:1 Aspect Ratio */
	position: relative; /* If you want text inside of it */
}

@media only screen and (min-width: 400px) {
	div.stimuliContainer {
		background-color: red;
		width: 49%;
		max-width: 290px;
		padding-top: 0%; /* 1:1 Aspect Ratio */
		position: relative; /* If you want text inside of it */
	}
}

@media only screen and (max-width: 576px) {
	html, body{
		background: white !important
	}
	.whiteBox{
		background: transparent; 
		box-shadow: 0 0 0 white !important;
	}

	#trialPage{
		min-height: 600px;
		margin: 0 auto;
		position: absolute;
		top: 0;
		bottom: 0;
	}
	
	.whiteBox {
		position: absolute;
		height: 100%;
		border-radius: .0em !important;
	}
	
	input[type=radio] {
		-ms-transform: scale(1.15) !important; /* IE 9 */
		-webkit-transform: scale(1.15) !important; /* Chrome, Safari, Opera */
		transform: scale(1.15) !important;
		min-height: 18px !important;
	}


}
 

.whiteBox{
	max-width: 900px;
	background: white; 
	box-shadow: 4px 4px 20px rgba(0,0,0,0.2);
	-webkit-transition: width 2s; /* Safari */
    transition: width 2s;
	-webkit-transition: height 2s; /* Safari */
    transition: height 2s;
}

.killPadding{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.fixWidth{
	display: block;
	min-width:105px;
	max-width:300px;
	width: auto;
	height: auto;
}

.smalltext{
	font-size: 11px;
	line-height: 95%;
}

.hidden{
	display: none;
}

input[type=radio] {
	-ms-transform: scale(1.35); /* IE 9 */
    -webkit-transform: scale(1.35); /* Chrome, Safari, Opera */
    transform: scale(1.35);
	min-height: 22px;
}

#progressBarBG {
	width: 100%;
	background-color: #e5e5e5;
}
 

label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-weight: bold;
	display:inline-block;
}

relative {
	/* remove the next line when you have trouble in IE6 with labels in list */
	position: relative;
}
label.errorStar {
	/* remove the next line when you have trouble in IE6 with labels in list */
	position: absolute;
	transform: translate(0px);
}

.centerAlign {
	position: absolute;
	font-size: 11px;
	font-weight: bold;
	right: 50%;
	top: 25%;
}

input.error, select.error { 
	border: 2px solid red; 
}